/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Panel / .panel
 *	2.	Panel Chart / .panel-chart
 *	3.	Panel Card Stat / .panel-card-stat
 *	4.	Panel Top Selling, Panel Most Viewed / .panel-top-selling, panel-most-viewed
 *	5.	Panel Products Availability, Panel Top Referrer / .panel-products-availability, panel-top-referrer
 *	6.	Panel Visitors Activity / .panel-visitors-activity
 *	7.	Panel Chart Users / .panel-chart-users
 *	8.	Panel Other Stats / .panel-other-stats
 *	--------------------------------------------------------
*/
body.page-ecommerce-dashboard .content .panel {
  /*
	 *	--------------------------------------------------------
	 *	1.	Panel / .panel
	 *	--------------------------------------------------------
	*/
  margin-bottom: 30px;
}
body.page-ecommerce-dashboard .content .panel-placeholder {
  /* Jquery UI placeholder */
  border: 2px dashed #ddd;
}
body.page-ecommerce-dashboard .content .panel-footer {
  text-align: right;
}
body.page-ecommerce-dashboard .content .panel-footer .fa {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  body.page-ecommerce-dashboard .content .table-responsive {
    border: none;
  }
}
@media (max-width: 991px) {
  body.page-ecommerce-dashboard .content .dataTables_filter {
    /* Datatables*/
    text-align: right;
  }
}
body.page-ecommerce-dashboard .content .panel-chart .panel-body .chart-heading {
  /*
			 *	--------------------------------------------------------
			 *	2.	Panel Chart / .panel-chart
			 *	--------------------------------------------------------
			*/
  color: #888;
}
body.page-ecommerce-dashboard .content .panel-chart .panel-body .chart-body {
  /* Chart content */
  height: 200px;
  margin-top: 20px;
  margin-right: -15px;
  margin-bottom: 15px;
}
body.page-ecommerce-dashboard .content .panel-chart .panel-body .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-ecommerce-dashboard .content .panel-chart .panel-footer {
  /* Chart footer with extra info about chart stats */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: .2px;
}
@media (max-width: 767px) {
  body.page-ecommerce-dashboard .content .panel-chart .panel-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-ecommerce-dashboard .content .panel-chart .panel-footer .col-item small {
  display: block;
  margin-bottom: 3px;
}
body.page-ecommerce-dashboard .content .panel-chart .panel-footer .col-item span {
  font-weight: 300;
}
@media (min-width: 480px) {
  body.page-ecommerce-dashboard .content .panel-chart .panel-footer .col-item span {
    font-size: 16px;
  }
}
body.page-ecommerce-dashboard .content .panel-card-stat .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	3.	Panel Card Stat / .panel-card-stat
		 *	--------------------------------------------------------
		*/
  padding-top: 15px;
}
body.page-ecommerce-dashboard .content .panel-card-stat .panel-body strong {
  font-weight: 700;
  font-size: 12px;
}
body.page-ecommerce-dashboard .content .panel-card-stat .panel-body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  body.page-ecommerce-dashboard .content .panel-top-selling .panel-body,
  body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body {
    /*
		 *	--------------------------------------------------------
		 *	4.	Panel Top Selling, Panel Most Viewed / .panel-top-selling, panel-most-viewed
		 *	--------------------------------------------------------
		*/
    padding-top: 0;
  }
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > thead > tr > th.sorting:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > thead > tr > th.sorting:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td.sorting:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td.sorting:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > thead > tr > th.sorting_asc:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > thead > tr > th.sorting_asc:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td.sorting_asc:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_asc:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > thead > tr > th.sorting_desc:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > thead > tr > th.sorting_desc:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td.sorting_desc:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_desc:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > thead > tr > th.sorting_asc_disabled:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > thead > tr > th.sorting_asc_disabled:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td.sorting_asc_disabled:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_asc_disabled:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > thead > tr > th.sorting_desc_disabled:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > thead > tr > th.sorting_desc_disabled:after,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td.sorting_desc_disabled:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_desc_disabled:after {
  right: 15px;
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > thead > tr > th:first-child,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > thead > tr > th:first-child,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td:first-child,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > thead > tr > th:last-child,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > thead > tr > th:last-child,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td:last-child,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td:last-child {
  padding-right: 0;
  text-align: right;
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .table > tbody > tr > td .btn,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .table > tbody > tr > td .btn {
  padding: 5px 15px;
  font-size: 12px;
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .panel-body-footer,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .panel-body-footer {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #999;
  border-top: 1px solid #ECEDED;
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .panel-body-footer:before,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .panel-body-footer:before,
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .panel-body-footer:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .panel-body-footer:after {
  content: "";
  display: table;
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .panel-body-footer:after,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .panel-body-footer:after {
  clear: both;
}
@media (max-width: 767px) {
  body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .panel-body-footer .col-item,
  body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .panel-body-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .panel-body-footer .col-item small,
body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .panel-body-footer .col-item small {
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
}
@media (min-width: 480px) {
  body.page-ecommerce-dashboard .content .panel-top-selling .panel-body .panel-body-footer .col-item span,
  body.page-ecommerce-dashboard .content .panel-most-viewed .panel-body .panel-body-footer .col-item span {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body.page-ecommerce-dashboard .content .panel-products-availability .panel-body,
  body.page-ecommerce-dashboard .content .panel-top-referrer .panel-body {
    /*
		 *	--------------------------------------------------------
		 *	5.	Panel Products Availability, Panel Top Referrer / .panel-products-availability, panel-top-referrer
		 *	--------------------------------------------------------
		*/
    padding-top: 0;
  }
}
body.page-ecommerce-dashboard .content .panel-products-availability .panel-body .table > thead > tr > th:first-child,
body.page-ecommerce-dashboard .content .panel-top-referrer .panel-body .table > thead > tr > th:first-child,
body.page-ecommerce-dashboard .content .panel-products-availability .panel-body .table > tbody > tr > td:first-child,
body.page-ecommerce-dashboard .content .panel-top-referrer .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-ecommerce-dashboard .content .panel-products-availability .panel-body .table > thead > tr > th:last-child,
body.page-ecommerce-dashboard .content .panel-top-referrer .panel-body .table > thead > tr > th:last-child,
body.page-ecommerce-dashboard .content .panel-products-availability .panel-body .table > tbody > tr > td:last-child,
body.page-ecommerce-dashboard .content .panel-top-referrer .panel-body .table > tbody > tr > td:last-child {
  text-align: right;
}
@media (min-width: 768px) {
  body.page-ecommerce-dashboard .content .panel-visitors-activity .panel-body {
    /*
		 *	--------------------------------------------------------
		 *	6.	Panel Visitors Activity / .panel-visitors-activity
		 *	--------------------------------------------------------
		*/
    padding-top: 0;
  }
}
body.page-ecommerce-dashboard .content .panel-visitors-activity .panel-body .table > thead > tr > th:first-child,
body.page-ecommerce-dashboard .content .panel-visitors-activity .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-ecommerce-dashboard .content .panel-visitors-activity .panel-body .table .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-ecommerce-dashboard .content .panel-visitors-activity .panel-body .table .media-body {
  width: auto;
  vertical-align: middle;
}
body.page-ecommerce-dashboard .content .panel-visitors-activity .panel-body .table .flag {
  width: 24px;
  height: 16px;
  background-size: cover;
}
body.page-ecommerce-dashboard .content .panel-chart-users .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	7.	Panel Chart Users / .panel-chart-users
		 *	--------------------------------------------------------
		*/
  height: 200px;
  margin-top: 45px;
  margin-right: -15px;
}
body.page-ecommerce-dashboard .content .panel-chart-users .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-ecommerce-dashboard .content .panel-chart-users .chart-body .legend table {
  margin-top: -60px;
}
body.page-ecommerce-dashboard .content .panel-chart-users .chart-body .legend table .legendLabel {
  font-size: 11px;
}
body.page-ecommerce-dashboard .content .panel-other-stats .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	8.	Panel Other Stats / .panel-other-stats
		 *	--------------------------------------------------------
		*/
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  body.page-ecommerce-dashboard .content .panel-other-stats .chart-body {
    margin-left: -15px;
    margin-right: -15px;
  }
}
body.page-ecommerce-dashboard .content .panel-other-stats .chart-body .chart-title {
  height: 38px;
}
body.page-ecommerce-dashboard .content .panel-other-stats .chart-body .easy-pie-chart {
  display: block;
}
body.page-ecommerce-dashboard .content .panel-other-stats .chart-body .easy-pie-chart .percent {
  color: #fd6969;
}
/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Orders / Products
 *	--------------------------------------------------------
*/
body.page-ecommerce-table .content .table-ecommerce > thead > tr > th:first-child,
body.page-ecommerce-table .content .table-ecommerce > tbody > tr > td:first-child,
body.page-ecommerce-table .content .table-ecommerce > tfoot > tr > td:first-child {
  width: 43px;
}
body.page-ecommerce-table .content .table-ecommerce > tfoot {
  display: table-header-group;
}
body.page-ecommerce-table .content .table-ecommerce > tfoot > tr > td {
  /* Styles for for td with form elements */
  vertical-align: top;
}
body.page-ecommerce-table .content .table-ecommerce > tfoot > tr > td .input-group {
  width: 100%;
}
body.page-ecommerce-table .content .table-ecommerce > tfoot > tr > td .input-group + .input-group,
body.page-ecommerce-table .content .table-ecommerce > tfoot > tr > td .form-control + .form-control {
  margin-top: 10px;
}
body.page-ecommerce-table .content .table-ecommerce > tfoot > tr > td .select2-container {
  width: 120px !important;
}
/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Ecommerce add/edit product page
 *	--------------------------------------------------------
*/
body.page-ecommerce-product .content .panel-group {
  margin-top: 10px;
  border: 1px solid #e6e8e8;
}
body.page-ecommerce-product .content .panel-group .panel-heading:after {
  background-color: #e6e8e8;
}
body.page-ecommerce-product .content .panel-group .panel-heading a:after {
  content: "\f067";
  position: absolute;
  right: 15px;
  font-family: 'FontAwesome';
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body.page-ecommerce-product .content .panel-group .panel-heading a[aria-expanded="true"]:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.page-ecommerce-product .content .panel-group .panel-title > a {
  font-size: 14px;
  color: #596465;
}
body.page-ecommerce-product .content .panel-group .panel-title > a:hover,
body.page-ecommerce-product .content .panel-group .panel-title > a:focus {
  color: #596465;
}
body.page-ecommerce-product .content .panel-group .panel-category .category-wrapper {
  max-height: 300px;
  overflow-y: auto;
  padding: 5px 15px;
  border: 1px solid #e6e8e8;
}
body.page-ecommerce-product .content .panel-group .panel-category .category-wrapper > .list-unstyled .list-unstyled {
  margin-left: 20px;
}
body.page-ecommerce-product .content .panel-group .panel-details .input-daterange .form-control {
  text-align: left;
}
body.page-ecommerce-product .content .panel-group .panel-details .input-group .input-group-addon {
  border-left-color: transparent;
  border-right-color: transparent;
}
body.page-ecommerce-product .content .panel-group .panel-images .table > tbody > tr > td {
  vertical-align: top;
}
body.page-ecommerce-product .content .panel-group .panel-images .table > tbody > tr > td:first-child {
  width: 180px;
  min-width: 180px;
}
body.page-ecommerce-product .content .panel-group .panel-images .table > tbody > tr > td:nth-child(2) {
  width: 250px;
  min-width: 250px;
}
body.page-ecommerce-product .content .panel-group .panel-images .table > tbody > tr > td:nth-child(3) {
  width: 100px;
  min-width: 100px;
}
body.page-ecommerce-product .content .panel-group .panel-images .table > tbody > tr > td:last-child {
  width: 100px;
  min-width: 100px;
}
