/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Panel / .panel
 *	2.	Panel Chart / .panel-chart
 *	3.	Panel Chart Card / .panel-chart-card
 *	4.	Panel Feed / .panel-feed
 *	5.	Panel Requests / .panel-requests
 *	6.	Panel Tasks / .panel-tasks
 *	7.	Panel Tasks Comments / .panel-tasks-comments
 *	8.	Panel Activity Monitor / .panel-activity-monitor
 *	9.	Panel Chat / .panel-chat
 *	10.	Panel Card Stat / .panel-card-stat
 *	11.	Panel Map / .panel-map
 *	--------------------------------------------------------
*/
body.page-dashboard .content .panel {
  /*
		 *	--------------------------------------------------------
		 *	1.	Panel / .panel
		 *	--------------------------------------------------------
		*/
  margin-bottom: 30px;
}
body.page-dashboard .content .panel-body .row-filter {
  /* Row filter is top section of .panel-body which includes button dropdown and search */
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-body .row-filter .col-item-search {
  text-align: right;
}
body.page-dashboard .content .panel-placeholder {
  /* Jquery UI placeholder */
  border: 2px dashed #ddd;
}
body.page-dashboard .content .panel-footer {
  text-align: right;
  background-color: transparent;
}
body.page-dashboard .content .panel-footer .fa {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  body.page-dashboard .content .table-responsive {
    border: none;
  }
}
@media (max-width: 991px) {
  body.page-dashboard .content .dataTables_filter {
    /* Datatables*/
    text-align: right;
  }
}
body.page-dashboard .content .row-card {
  /* Cards */
  padding: 8px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  border: 1px solid #eff2f2;
}
body.page-dashboard .content .row-card .col-card-item {
  padding-left: 0;
  padding-right: 0;
}
body.page-dashboard .content .row-card .col-card-item .panel {
  margin-bottom: 0;
  border-color: #eff2f2;
}
body.page-dashboard .content .row-card .col-card-item .panel .panel-body {
  color: #888;
  text-align: center;
}
body.page-dashboard .content .row-card .col-card-item .panel .panel-body h1 {
  margin-top: 5px;
  font-size: 32px;
}
body.page-dashboard .content .row-card .col-card-item .panel .panel-body span {
  font-size: 16px;
  letter-spacing: .3px;
}
@media (min-width: 768px) {
  body.page-dashboard .content .row-card .col-card-item:first-child + .col-card-item .panel,
  body.page-dashboard .content .row-card .col-card-item:last-child .panel {
    border-left-color: transparent;
  }
}
@media (min-width: 1200px) {
  body.page-dashboard .content .row-card .col-card-item + .col-card-item .panel {
    border-left-color: transparent;
  }
}
@media (min-width: 992px) {
  body.page-dashboard .content .panel-chart {
    /*
		 *	--------------------------------------------------------
		 *	2.	Panel Chart / .panel-chart
		 *	--------------------------------------------------------
		*/
    margin-right: -15px;
  }
}
body.page-dashboard .content .panel-chart .panel-body .chart-heading {
  /* Chart heading */
  color: #888;
}
body.page-dashboard .content .panel-chart .panel-body .chart-body {
  /* Chart content */
  height: 235px;
  margin-top: 20px;
  margin-right: -15px;
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-chart .panel-body .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  body.page-dashboard .content .panel-chart-card {
    /*
		 *	--------------------------------------------------------
		 *	3.	Panel Chart Card / .panel-chart-card
		 *	--------------------------------------------------------
		*/
    margin-bottom: 2px;
  }
}
body.page-dashboard .content .panel-chart-card .panel-body {
  color: #888;
}
body.page-dashboard .content .panel-chart-card .panel-body .card-left,
body.page-dashboard .content .panel-chart-card .panel-body .card-right {
  width: 50%;
  float: left;
}
body.page-dashboard .content .panel-chart-card .panel-body .card-left h1 {
  margin-top: 0;
}
body.page-dashboard .content .panel-chart-card .panel-body .card-right {
  text-align: right;
}
body.page-dashboard .content .panel-chart-card .panel-body .card-right .lead {
  margin-bottom: 5px;
  font-size: 18px;
}
body.page-dashboard .content .panel-chart-card .panel-footer {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  text-align: center;
}
body.page-dashboard .content .panel-feed .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	4.	Panel Feed / .panel-feed
		 *	--------------------------------------------------------
		*/
  max-height: 500px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-feed .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body p {
  margin-bottom: 2px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body p .label {
  margin-top: -2px;
  margin-left: 7px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body i {
  color: #999;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-requests .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	5.	Panel Requests / .panel-requests
		 *	--------------------------------------------------------
		*/
  max-height: 500px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-requests .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left {
  padding-right: 40px;
  vertical-align: middle;
  position: relative;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left i {
  margin-top: -24px;
  position: absolute;
  right: 15px;
  font-size: 10px;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body {
  vertical-align: middle;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body p:last-child {
  margin-bottom: 0;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body strong {
  margin-right: 7px;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .panel-requests .media-wrapper .media-body .btn-group {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  body.page-dashboard .content .panel-requests .media-wrapper .media-body .btn-group {
    float: right;
  }
}
body.page-dashboard .content .panel-tasks .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	6.	Panel Tasks / .panel-tasks
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  width: 35px;
  min-width: 35px;
  padding-left: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  width: 50px;
  padding-right: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td.details-control:before {
  margin-right: 0;
  position: relative;
  top: -1px;
  left: 32px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .icheckbox_minimal-grey {
  position: relative;
  left: -16px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .btn-group .btn {
  width: 25px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	7.	Panel Tasks Comments / .panel-tasks-comments
		 *	--------------------------------------------------------
		*/
  max-height: 415px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-object {
  width: 37px;
  height: 37px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-body p {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-body p i {
  color: #49A9D9;
  text-decoration: underline;
  cursor: default;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-tasks-comments .media-wrapper > .media .media {
  /* img width + 10px padding of .media-left */
  margin-right: -42px;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	8.	Panel Activity Monitor / .panel-activity-monitor
		 *	--------------------------------------------------------
		*/
  max-height: 285px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label i {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-body,
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	9.	Panel Chat / .panel-chat
		 *	--------------------------------------------------------
		*/
  max-height: 330px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media + .media {
  margin-top: 20px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-left {
  padding-top: 25px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .time {
  font-size: 11px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message {
  margin-top: 8px;
  padding: 8px 10px 10px;
  border-radius: 4px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message strong {
  font-style: italic;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message strong + p {
  margin-top: 8px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message p {
  margin-bottom: 0;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media-incoming-message .message {
  border: 1px solid #EFEFF3;
  background-color: #F9F9FA;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media-my-message .message {
  border: 1px solid #D8D8E3;
  background-color: #EFEFF8;
}
body.page-dashboard .content .panel-chat .panel-body form {
  margin: 10px -15px -15px;
  border-top: 1px solid #EEF0F0;
}
body.page-dashboard .content .panel-chat .panel-body form .form-control {
  font-size: 13px;
  border-top: none;
  border-right-color: #EEF0F0;
  border-bottom: none;
  border-left: none;
}
body.page-dashboard .content .panel-chat .panel-body form .form-control:focus {
  border-right-color: #EEF0F0;
}
body.page-dashboard .content .panel-card-stat .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	10.	Panel Card Stat / .panel-card-stat
		 *	--------------------------------------------------------
		*/
  padding-top: 15px;
}
body.page-dashboard .content .panel-card-stat .panel-body strong {
  font-weight: 700;
  font-size: 12px;
}
body.page-dashboard .content .panel-card-stat .panel-body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-map .panel-body .map-heading {
  /*
		 *	--------------------------------------------------------
		 *	11.	Panel Map / .panel-map
		 *	--------------------------------------------------------
		*/
  color: #888;
}
body.page-dashboard .content .panel-map .panel-body .map-body {
  /* Map content */
  height: 350px;
  margin-top: 20px;
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-map .panel-body .map-body .jqvmap-zoomin,
body.page-dashboard .content .panel-map .panel-body .map-body .jqvmap-zoomout {
  background-color: #676767;
}
body.page-dashboard .content .panel-map .panel-body .table {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-map .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-map .panel-body .table > tbody > tr > td:first-child {
  min-width: 100px;
  padding-left: 0;
}
body.page-dashboard .content .panel-map .panel-body .table > tbody > tr > td .flag {
  width: 24px;
  height: 16px;
  top: -2px;
  margin-right: 5px;
  background-size: cover;
}
