/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page search results 2
 *	--------------------------------------------------------
*/
.search-wrapper {
  margin-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 767px) {
  .search-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.search-header {
  padding: 40px 25px;
  border: 1px solid #f2f4f4;
  border-radius: 6px;
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f9f9f9)) no-repeat;
  background: -webkit-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -o-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -ms-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: linear-gradient(to bottom, #fefefe 0%, #f9f9f9 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f9f9f9', GradientType=0);
  box-shadow: 0 4px 0 #f2f4f4;
  -webkit-box-shadow: 0 4px 0 #f2f4f4;
}
@media (max-width: 767px) {
  .search-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.search-header .input-group {
  width: 100%;
}
.search-header .input-group .form-control,
.search-header .input-group .input-group-btn .btn {
  height: 40px;
}
.search-header .input-group .input-group-btn {
  width: 200px;
}
@media (max-width: 767px) {
  .search-header .input-group .input-group-btn {
    width: 100px;
  }
}
.search-header .input-group .input-group-btn .btn {
  width: 100%;
  font-weight: bold;
}
.search-body {
  margin-top: 15px;
}
.search-body .lead {
  margin-top: 15px;
  margin-bottom: 30px;
  font-style: italic;
}
@media (max-width: 767px) {
  .search-body .media .media-body {
    display: block;
    width: auto;
    margin-top: 10px;
  }
}
.search-body .media .media-body .media-heading {
  font-size: 17px;
  color: #596465;
  font-weight: 400;
}
