/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page timeline
 *	--------------------------------------------------------
*/
.timeline-wrapper {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .timeline-wrapper:after {
    content: "";
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #eaeded;
  }
}
.timeline-wrapper .timeline-date {
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #457295;
  border: 3px solid #eaeded;
  border-radius: 100%;
  background-color: #fff;
  z-index: 1;
}
.timeline-wrapper .timeline-item {
  padding-bottom: 25px;
  clear: both;
}
.timeline-wrapper .timeline-item b {
  color: #457295;
}
.timeline-wrapper .timeline-item .media {
  padding-top: 10px;
  margin-top: 0;
  border-top: 3px solid #eaeded;
}
.timeline-wrapper .timeline-item .media .media-object {
  width: 30px;
  height: 30px;
}
.timeline-wrapper .timeline-item .media .media-right {
  padding-right: 10px;
  color: #596465;
}
