/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Panel / .panel
 *	2.	Panel Card / .panel-card
 *	3.	Panel Chart / .panel-chart
 *	4.	Panel Feed / .panel-feed
 *	5.	Panel Requests / .panel-requests
 *	6.	Panel Activity Monitor / .panel-activity-monitor
 *	7.	Panel Chat / .panel-chat
 *	8.	Panel Card Stat / .panel-card-stat
 *	9.	Panel Project Progress / .panel-project-progress
 *	10.	Panel Tasks / .panel-tasks
 *	11.	Panel Lead Staff / .panel-lead-staff
 *	12.	Panel Calendar / .panel-calendar
 *	13.	Panel Events / .panel-events
 *	14.	Panel Chart Users / .panel-chart-users
 *	15.	Panel Other Stats / .panel-other-stats
 *	--------------------------------------------------------
*/
body.page-dashboard .content .panel {
  /*
	 *	--------------------------------------------------------
	 *	1.	Panel / .panel
	 *	--------------------------------------------------------
	*/
  margin-bottom: 30px;
}
body.page-dashboard .content .panel-default-light {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
}
body.page-dashboard .content .panel-body .row-filter {
  /* Row filter is top section of .panel-body which includes button dropdown and search */
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-body .row-filter .col-item-search {
  text-align: right;
}
body.page-dashboard .content .panel-placeholder {
  /* Jquery UI placeholder */
  border: 2px dashed #ddd;
}
body.page-dashboard .content .panel-footer {
  text-align: right;
  background-color: transparent;
}
body.page-dashboard .content .panel-footer .fa {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  body.page-dashboard .content .table-responsive {
    border: none;
  }
}
@media (max-width: 991px) {
  body.page-dashboard .content .dataTables_filter {
    /* Datatables*/
    text-align: right;
  }
}
body.page-dashboard .content .panel-card .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	2.	Panel Card / .panel-card
		 *	--------------------------------------------------------
		*/
  padding-top: 15px;
  position: relative;
}
body.page-dashboard .content .panel-card .panel-body strong {
  font-weight: 700;
}
body.page-dashboard .content .panel-card .panel-body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 26px;
}
body.page-dashboard .content .panel-card .panel-body .chart {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 23px;
  right: 15px;
}
body.page-dashboard .content .panel-chart .panel-body .chart-heading {
  /*
		 *	--------------------------------------------------------
		 *	3.	Panel Chart / .panel-chart
		 *	--------------------------------------------------------
		*/
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .6px;
  color: #899799;
}
body.page-dashboard .content .panel-chart .panel-body .chart-heading .label {
  margin-left: 5px;
  font-weight: 600;
}
body.page-dashboard .content .panel-chart .panel-body .chart-body {
  /* Chart content */
  height: 200px;
  margin-top: 20px;
  margin-right: -15px;
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-chart .panel-body .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .panel-chart .panel-footer {
  /* Chart footer with extra info about chart stats */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: .2px;
}
@media (max-width: 767px) {
  body.page-dashboard .content .panel-chart .panel-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-dashboard .content .panel-chart .panel-footer .col-item small {
  display: block;
  margin-bottom: 3px;
}
body.page-dashboard .content .panel-chart .panel-footer .col-item span {
  font-weight: 300;
}
@media (min-width: 480px) {
  body.page-dashboard .content .panel-chart .panel-footer .col-item span {
    font-size: 16px;
  }
}
body.page-dashboard .content .panel-feed .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	4.	Panel Feed / .panel-feed
		 *	--------------------------------------------------------
		*/
  max-height: 500px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-feed .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body p {
  margin-bottom: 2px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body p .label {
  margin-top: -2px;
  margin-left: 7px;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-body i {
  color: #999;
}
body.page-dashboard .content .panel-feed .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-requests .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	5.	Panel Requests / .panel-requests
		 *	--------------------------------------------------------
		*/
  max-height: 500px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-requests .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left {
  padding-right: 40px;
  vertical-align: middle;
  position: relative;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-left i {
  margin-top: -24px;
  position: absolute;
  right: 15px;
  font-size: 10px;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body {
  vertical-align: middle;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body p:last-child {
  margin-bottom: 0;
}
body.page-dashboard .content .panel-requests .media-wrapper .media-body strong {
  margin-right: 7px;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .panel-requests .media-wrapper .media-body .btn-group {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  body.page-dashboard .content .panel-requests .media-wrapper .media-body .btn-group {
    float: right;
  }
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	6.	Panel Activity Monitor / .panel-activity-monitor
		 *	--------------------------------------------------------
		*/
  max-height: 285px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-left .label i {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-body,
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  vertical-align: middle;
}
body.page-dashboard .content .panel-activity-monitor .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper {
  /*
		 *	--------------------------------------------------------
		 *	7.	Panel Chat / .panel-chat
		 *	--------------------------------------------------------
		*/
  max-height: 325px;
  overflow-y: auto;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media + .media {
  margin-top: 20px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-left {
  padding-top: 25px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .time {
  font-size: 11px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message {
  margin-top: 8px;
  padding: 8px 10px 10px;
  border-radius: 4px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message strong {
  font-style: italic;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message strong + p {
  margin-top: 8px;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media .media-body .message p {
  margin-bottom: 0;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media-incoming-message .message {
  border: 1px solid #EFEFF3;
  background-color: #F9F9FA;
}
body.page-dashboard .content .panel-chat .panel-body .media-wrapper .media-my-message .message {
  border: 1px solid #D8D8E3;
  background-color: #EFEFF8;
}
body.page-dashboard .content .panel-chat .panel-body form {
  margin: 10px -15px -15px;
  border-top: 1px solid #EEF0F0;
}
body.page-dashboard .content .panel-chat .panel-body form .form-control {
  font-size: 13px;
  border-top: none;
  border-right-color: #EEF0F0;
  border-bottom: none;
  border-left: none;
}
body.page-dashboard .content .panel-chat .panel-body form .form-control:focus {
  border-right-color: #EEF0F0;
}
body.page-dashboard .content .panel-card-stat .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	8.	Panel Card Stat / .panel-card-stat
		 *	--------------------------------------------------------
		*/
  padding-top: 15px;
}
body.page-dashboard .content .panel-card-stat .panel-body strong {
  font-weight: 700;
  font-size: 12px;
}
body.page-dashboard .content .panel-card-stat .panel-body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  body.page-dashboard .content .panel-project-progress .panel-body {
    /*
			 *	--------------------------------------------------------
			 *	9.	Panel Project Progress / .panel-project-progress
			 *	--------------------------------------------------------
			*/
    overflow-x: auto;
    overflow-y: hidden;
  }
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  color: #8B9698;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item + .project-wrapper-item {
  border-left: 1px solid #ECEFEF;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item.project-wrapper-item-description {
  width: 35%;
  padding-right: 50px;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item.project-wrapper-item-info {
  width: 30%;
  padding-left: 50px;
  padding-right: 50px;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item.project-wrapper-item-progress {
  width: 60%;
  padding-left: 50px;
}
@media (max-width: 991px) {
  body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item.project-wrapper-item-progress {
    display: none;
  }
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item .media {
  overflow: visible;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item .media .media-left {
  padding-right: 20px;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item .media .media-left .media-object {
  width: 60px;
  height: 60px;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item .media .media-body {
  width: auto;
  vertical-align: middle;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item b {
  display: block;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item b:last-child {
  margin-top: 3px;
  padding-top: 3px;
  white-space: nowrap;
  color: #596465;
  border-top: 1px solid #8B9698;
}
body.page-dashboard .content .panel-project-progress .panel-body .project-wrapper .project-wrapper-item .progress {
  height: 10px;
  margin-bottom: 0;
}
body.page-dashboard .content .panel-tasks .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	10.	Panel Tasks / .panel-tasks
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  width: 35px;
  min-width: 35px;
  padding-left: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  width: 50px;
  padding-right: 0;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td.details-control:before {
  margin-right: 0;
  position: relative;
  top: -1px;
  left: 32px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .icheckbox_minimal-grey {
  position: relative;
  left: -16px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .btn-group .btn {
  width: 25px;
}
body.page-dashboard .content .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
body.page-dashboard .content .panel-lead-staff .panel-body {
  /*
		 *	--------------------------------------------------------
		 *	11.	Panel Lead Staff / .panel-lead-staff
		 *	--------------------------------------------------------
		*/
  padding-bottom: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
  text-align: right;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper {
  display: table;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper img {
  display: table-cell;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
body.page-dashboard .content .panel-lead-staff .panel-body .dt-bootstrap .table > tbody > tr > td .img-wrapper span {
  display: table-cell;
  vertical-align: middle;
}
body.page-dashboard .content .panel-calendar .fc-toolbar h2 {
  /*
		 *	--------------------------------------------------------
		 *	12.	Panel Calendar / .panel-calendar
		 *	--------------------------------------------------------
		*/
  font-size: 15px;
}
body.page-dashboard .content .panel-events .dt-bootstrap {
  /*
		 *	--------------------------------------------------------
		 *	13.	Panel Events / .panel-events
		 *	--------------------------------------------------------
		*/
  margin-top: -35px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > thead > tr > th {
  border-bottom: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr:first-child > td {
  border-top: none;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td {
  position: relative;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control {
  padding-left: 32px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td.details-control .block {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .btn {
  float: right;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td {
  vertical-align: top;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td:last-child {
  padding-right: 15px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td .label {
  margin-bottom: 5px;
}
body.page-dashboard .content .panel-events .dt-bootstrap .table > tbody > tr.shown + tr > td {
  /* When dropdown table is shown */
  padding-left: 0;
}
body.page-dashboard .content .panel-chart-users .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	14.	Panel Chart Users / .panel-chart-users
		 *	--------------------------------------------------------
		*/
  height: 200px;
  margin-top: 45px;
  margin-right: -15px;
}
body.page-dashboard .content .panel-chart-users .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table {
  margin-top: -60px;
}
body.page-dashboard .content .panel-chart-users .chart-body .legend table .legendLabel {
  font-size: 11px;
}
body.page-dashboard .content .panel-other-stats .chart-body {
  /*
		 *	--------------------------------------------------------
		 *	15.	Panel Other Stats / .panel-other-stats
		 *	--------------------------------------------------------
		*/
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .panel-other-stats .chart-body {
    margin-left: -15px;
    margin-right: -15px;
  }
}
body.page-dashboard .content .panel-other-stats .chart-body .chart-title {
  height: 38px;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart {
  display: block;
}
body.page-dashboard .content .panel-other-stats .chart-body .easy-pie-chart .percent {
  color: #fd6969;
}
