/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page search results 1
 *	--------------------------------------------------------
*/
.search-wrapper {
  margin-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 767px) {
  .search-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.search-header {
  padding: 40px 0;
  border: 1px solid #f2f4f4;
  border-radius: 6px;
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f9f9f9)) no-repeat;
  background: -webkit-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -o-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: -ms-linear-gradient(top, #fefefe 0%, #f9f9f9 100%) no-repeat;
  background: linear-gradient(to bottom, #fefefe 0%, #f9f9f9 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f9f9f9', GradientType=0);
  box-shadow: 0 4px 0 #f2f4f4;
  -webkit-box-shadow: 0 4px 0 #f2f4f4;
}
.search-header form > div:first-child:after {
  content: "";
  width: 1px;
  height: 90px;
  position: absolute;
  top: -60%;
  right: 0;
  background-color: #f2f4f4;
}
@media (max-width: 767px) {
  .search-header form > div:first-child:after {
    display: none;
  }
}
.search-header form .input-group {
  width: 100%;
}
.search-header form .input-group .form-control,
.search-header form .input-group .input-group-btn .btn {
  height: 40px;
}
.search-header form .input-group .input-group-btn {
  width: 200px;
}
@media (max-width: 767px) {
  .search-header form .input-group .input-group-btn {
    width: 100px;
  }
}
.search-header form .input-group .input-group-btn .btn {
  width: 100%;
  font-weight: bold;
}
@media (max-width: 767px) {
  .search-header form .result-dropdown {
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .search-header form .result-dropdown {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
.search-header form .result-dropdown span {
  vertical-align: middle;
}
.search-header form .result-dropdown .select2-container {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.search-header form .result-dropdown .select2-container .select2-selection--single {
  position: relative;
}
.search-header form .result-dropdown .select2-container .select2-selection--single:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 25px;
  background-color: #f2f4f4;
}
.search-header form .result-dropdown .select2-container .select2-selection--single .select2-selection__arrow {
  right: 8px;
}
@media (min-width: 768px) {
  .search-body > .row > .col-sm-3 {
    float: right;
  }
}
.search-body h3 {
  font-style: italic;
}
@media (max-width: 767px) {
  .search-body .media .media-body {
    display: block;
    width: auto;
    margin-top: 10px;
  }
}
.search-body .media .media-body .media-heading {
  font-size: 20px;
  color: #596465;
  font-weight: 400;
}
.search-body .form-filters label {
  font-size: 14px;
  font-style: italic;
}
.search-body .form-filters .btn {
  width: 50px;
}
.search-body .form-filters .form-group-datepicker {
  border-top: 1px solid #f2f4f4;
}
.search-body .form-filters .form-group-datepicker .form-control-wrapper,
.search-body .form-filters .form-group-datepicker .btn-wrapper {
  display: table-cell;
}
.search-body .form-filters .form-group-datepicker .form-control-wrapper {
  padding-right: 10px;
}
.search-body .form-filters .form-group-datepicker .btn-wrapper {
  vertical-align: top;
}
