/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page invoice
 *	--------------------------------------------------------
*/
body {
  font-size: 14px;
}
.panel-body > .invoice-header {
  margin: -15px -15px 45px;
  padding: 20px 15px 45px;
  border-bottom: 1px solid #f2f4f4;
}
.panel-body > .invoice-header .invoice-header-left h1 {
  margin-bottom: 18px;
  color: #889BA5;
}
.panel-body > .invoice-header .invoice-header-left address {
  line-height: 24px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .panel-body > .invoice-header .invoice-header-right {
    text-align: right;
  }
}
.panel-body > .invoice-header .invoice-header-right h1 {
  font-weight: 600;
  color: #E5E5E5;
}
.panel-body > .invoice-header .invoice-header-right span {
  line-height: 24px;
}
.panel-body > .invoice-header .invoice-header-right .label {
  margin-top: 35px;
  padding: 12px 30px;
  font-size: 13px;
  border-color: #d6d6d6;
}
@media (max-width: 767px) {
  .panel-body > .invoice-header .invoice-header-right .label {
    margin-top: 20px;
  }
}
.panel-body > .invoice-header .invoice-header-right .label strong {
  font-size: 14px;
}
.panel-body > .invoice-body .table td + td {
  text-align: right;
}
.panel-body > .invoice-body .table td em {
  color: #999;
}
.panel-body > .invoice-body .table tfoot > tr > td h1 {
  margin-top: -13px;
  margin-bottom: 18px;
  color: #889BA5;
}
.panel-body > .invoice-body .table tfoot > tr > td .table tr:last-child > td {
  border-top-color: #999;
}
