/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page inbox
 *	--------------------------------------------------------
*/
.nav.nav-inbox > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}
.nav.nav-inbox > li > a .label {
  padding: 3px 5px;
}
.nav.nav-inbox > li.active > a {
  background-color: #f2f4f4;
}
.nav.nav-inbox > li.starred .fa {
  margin-left: 10px;
  color: #FFD76E;
}
.nav.nav-inbox .divider {
  height: 1px;
  background-color: #f9fafa;
}
.inbox-list-heading {
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  .inbox-list-heading > .col-sm-3 {
    margin-top: 12px;
  }
}
.inbox-list-heading .btn-group > .btn-checkbox {
  cursor: default;
  border-color: #e6e8e8;
  background-color: #f9fafa;
}
.inbox-list-heading .btn-group > .btn-checkbox + .btn {
  padding-left: 13px;
  padding-right: 13px;
}
.inbox-list-heading .btn-group > .btn-checkbox .icheckbox_minimal-grey {
  margin-right: 0;
}
.table-inbox-list {
  cursor: pointer;
}
.table-inbox-list > tbody > tr.unread {
  font-weight: 600;
}
.table-inbox-list > tbody > tr > td:not(:last-child) {
  border-right-color: transparent;
}
.table-inbox-list .star,
.panel-message-view > .panel-heading .star {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.table-inbox-list .star .fa-star-o,
.panel-message-view > .panel-heading .star .fa-star-o {
  color: #e1e1e1;
}
.table-inbox-list .star .fa-star,
.panel-message-view > .panel-heading .star .fa-star {
  color: #FFD76E;
}
.panel-message-view > .panel-heading {
  padding-top: 15px;
  padding-bottom: 15px;
}
.panel-message-view > .panel-heading .input-group {
  margin-top: 2px;
}
.panel-message-view > .panel-body .message,
.panel-message-view > .panel-body .message p,
.panel-message-view > .panel-body .attachment-wrapper {
  margin-top: 20px;
}
.panel-message-view > .panel-body .attachment-wrapper .attachment-img,
.panel-message-view > .panel-body .attachment-wrapper .attachment-file {
  display: inline-block;
}
.panel-message-view > .panel-body .attachment-wrapper .attachment-item {
  padding-right: 10px;
  vertical-align: middle;
  color: #596465;
}
.panel-message-view > .panel-body .attachment-wrapper .attachment-item img,
.panel-message-view > .panel-body .attachment-wrapper .attachment-item .fa {
  width: 150px;
  height: 100px;
}
.panel-message-view > .panel-body .attachment-wrapper .attachment-item-file .fa {
  display: block;
  text-align: center;
  font-size: 48px;
  line-height: 100px;
  color: #e5e5e5;
  border: 2px solid #f2f4f4;
}
.panel.panel-message-reply > .panel-heading {
  padding: 20px;
}
.panel.panel-message-reply > .panel-heading:after {
  left: 20px;
  right: 20px;
}
.panel.panel-message-reply > .panel-heading h4 {
  font-weight: 400;
}
.panel.panel-message-reply > .panel-body {
  padding: 0 20px 20px;
}
.panel.panel-message-reply > .panel-body .message-reply-heading {
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
}
.panel.panel-message-reply > .panel-body .message-reply-heading .form-group {
  margin: -1px -20px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.panel.panel-message-reply > .panel-body .message-reply-heading .form-group .input-group-addon {
  min-width: auto;
  border-left: none;
  border-top-color: #f2f4f4;
  border-bottom-color: #f2f4f4;
  background-color: transparent;
}
.panel.panel-message-reply > .panel-body .message-reply-heading .form-group .input-group-addon:first-child {
  padding-left: 0;
  padding-right: 0;
}
.panel.panel-message-reply > .panel-body .message-reply-heading .form-group .input-group-addon:last-child > i {
  cursor: pointer;
}
.panel.panel-message-reply > .panel-body .message-reply-heading .form-group .form-control {
  border-top-color: #f2f4f4;
  border-bottom-color: #f2f4f4;
  border-left: none;
  border-right: none;
}
.inbox-list-pagination {
  margin-top: 17px;
  margin-bottom: 35px;
}
