/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Panel / .panel
 *	2.	Panel Chart / .panel-chart
 *	3.	Panel Card Stat / .panel-card-stat
 *	4.	Panel Tasks / .panel-tasks
 *	5.	Panel Tasks Comments / .panel-tasks-comments
 *	6.	Panel Activity Monitor / .panel-activity-monitor
 *	7.	Panel Country Sales / .panel-country-sales
 *	8.	Panel Feed / .panel-feed
 *	9.	Panel Requests / .panel-requests
 *	10.	Panel Visitors Activity / .panel-visitors-activity
 *	11.	Panel Chart Users / .panel-chart-users
 *	12.	Panel Other Stats / .panel-other-stats
 *	13.	Panel Calendar / .panel-calendar
 *	14.	Panel Events / .panel-events
 *	15.	Panel Top Selling, Panel Most Viewed / .panel-top-selling, .panel-most-viewed
 *	16.	Panel Products Availability, Panel Top Referrer / .panel-products-availability, .panel-top-referrer
 *	17.	Panel Map / .panel-map
 *	18.	Orders, Products
 *	--------------------------------------------------------
*/
body.page-dashboard .content .panel {
  /*
	 *	--------------------------------------------------------
	 *	1.	Panel / .panel
	 *	--------------------------------------------------------
	*/
  margin-bottom: 30px;
}
body.page-dashboard .content .panel-body .row-filter {
  /* Row filter is top section of .panel-body which includes button dropdown and search */
  margin-bottom: 15px;
}
body.page-dashboard .content .panel-body .row-filter .col-item-search {
  text-align: right;
}
body.page-dashboard .content .panel-placeholder {
  /* Jquery UI placeholder */
  border: 2px dashed #ddd;
}
body.page-dashboard .content .panel-footer {
  text-align: right;
  background-color: transparent;
}
body.page-dashboard .content .panel-footer .fa {
  margin-left: 5px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  body.page-dashboard .content .table-responsive {
    border: none;
  }
}
@media (max-width: 991px) {
  body.page-dashboard .content .dataTables_filter {
    /* Datatables*/
    text-align: right;
  }
}
body.page-dashboard .content .dashboard-tabs > li > a {
  padding: 15px 10px;
}
body.page-dashboard .content .dashboard-tabs + .tab-content {
  margin-top: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-body .chart-heading {
  /*
				 *	--------------------------------------------------------
				 *	2.	Panel Chart / .panel-chart
				 *	--------------------------------------------------------
				*/
  color: #888;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-body .chart-body {
  /* Chart content */
  height: 200px;
  margin-top: 20px;
  margin-right: -15px;
  margin-bottom: 15px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-body .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-footer {
  /* Chart footer with extra info about chart stats */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: .2px;
}
@media (max-width: 767px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-footer .col-item small {
  display: block;
  margin-bottom: 3px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-footer .col-item span {
  font-weight: 300;
}
@media (min-width: 480px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-chart .panel-footer .col-item span {
    font-size: 16px;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-card-stat .panel-body {
  /*
			 *	--------------------------------------------------------
			 *	3.	Panel Card Stat / .panel-card-stat
			 *	--------------------------------------------------------
			*/
  padding-top: 15px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-card-stat .panel-body strong {
  font-weight: 700;
  font-size: 12px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-card-stat .panel-body h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body {
  /*
			 *	--------------------------------------------------------
			 *	4.	Panel Tasks / .panel-tasks
			 *	--------------------------------------------------------
			*/
  padding-bottom: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap {
  margin-top: -38px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:first-child {
  width: 35px;
  min-width: 35px;
  padding-left: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > thead > tr > th:last-child,
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td:last-child {
  width: 50px;
  padding-right: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td.details-control:before {
  margin-right: 0;
  position: relative;
  top: -1px;
  left: 32px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .icheckbox_minimal-grey {
  position: relative;
  left: -16px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .btn-group .btn {
  width: 25px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks .panel-body .dt-bootstrap .table > tbody > tr > td .table > tbody > tr > td:first-child {
  padding-left: 15px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks-comments .media-wrapper {
  /*
			 *	--------------------------------------------------------
			 *	5.	Panel Tasks Comments / .panel-tasks-comments
			 *	--------------------------------------------------------
			*/
  max-height: 415px;
  overflow-y: auto;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks-comments .media-wrapper > .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks-comments .media-wrapper > .media .media-object {
  width: 37px;
  height: 37px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks-comments .media-wrapper > .media .media-body p {
  margin-bottom: 5px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks-comments .media-wrapper > .media .media-body p i {
  color: #49A9D9;
  text-decoration: underline;
  cursor: default;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks-comments .media-wrapper > .media .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .tab-pane-dashboard .panel-tasks-comments .media-wrapper > .media .media {
  /* img width + 10px padding of .media-left */
  margin-right: -42px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-activity-monitor .media-wrapper {
  /*
			 *	--------------------------------------------------------
			 *	6.	Panel Activity Monitor / .panel-activity-monitor
			 *	--------------------------------------------------------
			*/
  max-height: 285px;
  overflow-y: auto;
}
body.page-dashboard .content .tab-pane-dashboard .panel-activity-monitor .media-wrapper .media {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .tab-pane-dashboard .panel-activity-monitor .media-wrapper .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-activity-monitor .media-wrapper .media-left .label i {
  vertical-align: middle;
}
body.page-dashboard .content .tab-pane-dashboard .panel-activity-monitor .media-wrapper .media-body,
body.page-dashboard .content .tab-pane-dashboard .panel-activity-monitor .media-wrapper .media-right {
  vertical-align: middle;
}
body.page-dashboard .content .tab-pane-dashboard .panel-activity-monitor .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-heading .nav-tabs > li > a {
    /*
				 *	--------------------------------------------------------
				 *	7.	Panel Country Sales / .panel-country-sales
				 *	--------------------------------------------------------
				*/
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 0;
    font-size: 11px;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body {
  padding-bottom: 0;
}
@media (max-width: 991px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs {
    border-bottom: 1px solid #e4e8e8;
  }
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li {
    float: left;
  }
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li + li {
    padding-top: 0;
  }
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li > a {
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li > a:hover,
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li > a:focus {
    border-bottom-color: #e4e8e8;
  }
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li.active > a,
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li.active > a:hover,
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs > li.active > a:focus {
    border-right-color: #e4e8e8;
    border-bottom-color: #fff;
  }
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .nav-tabs.rounded > li > a {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .table {
  margin-bottom: 5px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .table > tbody > tr > td:first-child {
  min-width: 100px;
  padding-left: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .table > tbody > tr > td .flag {
  width: 24px;
  height: 16px;
  top: -2px;
  margin-right: 5px;
  background-size: cover;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .chart-body {
  height: 200px;
  margin-right: -40px;
  margin-bottom: 15px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .chart-body .chart-label {
  /* Styling the label */
  font-size: 12px;
  color: #fff;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .chart-body .legend {
  /* Legend */
  position: relative;
  margin-right: 40px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .chart-body .legend .legendLabel {
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .country-sales-footer {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #999;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .country-sales-footer:before,
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .country-sales-footer:after {
  content: "";
  display: table;
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .country-sales-footer:after {
  clear: both;
}
@media (max-width: 767px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .country-sales-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .country-sales-footer .col-item small {
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
}
@media (min-width: 480px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-country-sales .panel-body .country-sales-footer .col-item span {
    font-size: 16px;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-feed .media-wrapper {
  /*
			 *	--------------------------------------------------------
			 *	8.	Panel Feed / .panel-feed
			 *	--------------------------------------------------------
			*/
  max-height: 500px;
  overflow-y: auto;
}
body.page-dashboard .content .tab-pane-dashboard .panel-feed .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .tab-pane-dashboard .panel-feed .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-feed .media-wrapper .media-body p {
  margin-bottom: 2px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-feed .media-wrapper .media-body p .label {
  margin-top: -2px;
  margin-left: 7px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-feed .media-wrapper .media-body i {
  color: #999;
}
body.page-dashboard .content .tab-pane-dashboard .panel-feed .media-wrapper .media-right {
  white-space: nowrap;
  font-style: italic;
  color: #999;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper {
  /*
			 *	--------------------------------------------------------
			 *	9.	Panel Requests / .panel-requests
			 *	--------------------------------------------------------
			*/
  max-height: 500px;
  overflow-y: auto;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  border-top: 1px solid #eceded;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-left {
  padding-right: 40px;
  vertical-align: middle;
  position: relative;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-left .media-object {
  width: 40px;
  height: 40px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-left i {
  margin-top: -24px;
  position: absolute;
  right: 15px;
  font-size: 10px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-body {
  vertical-align: middle;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-body p:last-child {
  margin-bottom: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-body strong {
  margin-right: 7px;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-body .btn-group {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-requests .media-wrapper .media-body .btn-group {
    float: right;
  }
}
@media (min-width: 768px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-visitors-activity .panel-body {
    /*
			 *	--------------------------------------------------------
			 *	10.	Panel Visitors Activity / .panel-visitors-activity
			 *	--------------------------------------------------------
			*/
    padding-top: 0;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-visitors-activity .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-dashboard .panel-visitors-activity .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-visitors-activity .panel-body .table .media-left .label {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-visitors-activity .panel-body .table .media-body {
  width: auto;
  vertical-align: middle;
}
body.page-dashboard .content .tab-pane-dashboard .panel-visitors-activity .panel-body .table .flag {
  width: 24px;
  height: 16px;
  background-size: cover;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart-users .chart-body {
  /*
			 *	--------------------------------------------------------
			 *	11.	Panel Chart Users / .panel-chart-users
			 *	--------------------------------------------------------
			*/
  height: 200px;
  margin-top: 45px;
  margin-right: -15px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart-users .chart-body .flot-text .flot-x-axis {
  text-transform: uppercase;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart-users .chart-body .legend table {
  margin-top: -60px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-chart-users .chart-body .legend table .legendLabel {
  font-size: 11px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-other-stats .chart-body {
  /*
			 *	--------------------------------------------------------
			 *	12.	Panel Other Stats / .panel-other-stats
			 *	--------------------------------------------------------
			*/
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  body.page-dashboard .content .tab-pane-dashboard .panel-other-stats .chart-body {
    margin-left: -15px;
    margin-right: -15px;
  }
}
body.page-dashboard .content .tab-pane-dashboard .panel-other-stats .chart-body .chart-title {
  height: 38px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-other-stats .chart-body .easy-pie-chart {
  display: block;
}
body.page-dashboard .content .tab-pane-dashboard .panel-other-stats .chart-body .easy-pie-chart .percent {
  color: #fd6969;
}
body.page-dashboard .content .tab-pane-dashboard .panel-calendar .fc-toolbar h2 {
  /*
			 *	--------------------------------------------------------
			 *	13.	Panel Calendar / .panel-calendar
			 *	--------------------------------------------------------
			*/
  font-size: 15px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap {
  /*
			 *	--------------------------------------------------------
			 *	14.	Panel Events / .panel-events
			 *	--------------------------------------------------------
			*/
  margin-top: -35px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > thead > tr > th {
  border-bottom: none;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr:first-child > td {
  border-top: none;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td {
  position: relative;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td.details-control {
  padding-left: 32px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td.details-control:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td.details-control .block {
  margin-bottom: 5px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td:last-child {
  padding-right: 0;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .btn {
  float: right;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td {
  vertical-align: top;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td:last-child {
  padding-right: 15px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr > td:last-child .table > tbody > tr > td .label {
  margin-bottom: 5px;
}
body.page-dashboard .content .tab-pane-dashboard .panel-events .dt-bootstrap .table > tbody > tr.shown + tr > td {
  /* When dropdown table is shown */
  padding-left: 0;
}
@media (min-width: 768px) {
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body,
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body {
    /*
			 *	--------------------------------------------------------
			 *	15.	Panel Top Selling, Panel Most Viewed / .panel-top-selling, .panel-most-viewed
			 *	--------------------------------------------------------
			*/
    padding-top: 0;
  }
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > thead > tr > th.sorting:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > thead > tr > th.sorting:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td.sorting:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td.sorting:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > thead > tr > th.sorting_asc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > thead > tr > th.sorting_asc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td.sorting_asc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_asc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > thead > tr > th.sorting_desc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > thead > tr > th.sorting_desc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td.sorting_desc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_desc:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > thead > tr > th.sorting_asc_disabled:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > thead > tr > th.sorting_asc_disabled:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td.sorting_asc_disabled:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_asc_disabled:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > thead > tr > th.sorting_desc_disabled:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > thead > tr > th.sorting_desc_disabled:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td.sorting_desc_disabled:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td.sorting_desc_disabled:after {
  right: 15px;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td:first-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > thead > tr > th:last-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > thead > tr > th:last-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td:last-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td:last-child {
  padding-right: 0;
  text-align: right;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .table > tbody > tr > td .btn,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .table > tbody > tr > td .btn {
  padding: 5px 15px;
  font-size: 12px;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .panel-body-footer,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .panel-body-footer {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #999;
  border-top: 1px solid #ECEDED;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .panel-body-footer:before,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .panel-body-footer:before,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .panel-body-footer:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .panel-body-footer:after {
  content: "";
  display: table;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .panel-body-footer:after,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .panel-body-footer:after {
  clear: both;
}
@media (max-width: 767px) {
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .panel-body-footer .col-item,
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .panel-body-footer .col-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .panel-body-footer .col-item small,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .panel-body-footer .col-item small {
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
}
@media (min-width: 480px) {
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-selling .panel-body .panel-body-footer .col-item span,
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-most-viewed .panel-body .panel-body-footer .col-item span {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-products-availability .panel-body,
  body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-referrer .panel-body {
    /*
			 *	--------------------------------------------------------
			 *	16.	Panel Products Availability, Panel Top Referrer / .panel-products-availability, .panel-top-referrer
			 *	--------------------------------------------------------
			*/
    padding-top: 0;
  }
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-products-availability .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-referrer .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-products-availability .panel-body .table > tbody > tr > td:first-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-referrer .panel-body .table > tbody > tr > td:first-child {
  padding-left: 0;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-products-availability .panel-body .table > thead > tr > th:last-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-referrer .panel-body .table > thead > tr > th:last-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-products-availability .panel-body .table > tbody > tr > td:last-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-top-referrer .panel-body .table > tbody > tr > td:last-child {
  text-align: right;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .map-heading {
  /*
			 *	--------------------------------------------------------
			 *	17.	Panel Map / .panel-map
			 *	--------------------------------------------------------
			*/
  color: #888;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .map-body {
  /* Map content */
  height: 350px;
  margin-top: 20px;
  margin-bottom: 15px;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .map-body .jqvmap-zoomin,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .map-body .jqvmap-zoomout {
  background-color: #676767;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .table {
  margin-bottom: 5px;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .table > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .table > tbody > tr > td:first-child {
  min-width: 100px;
  padding-left: 0;
}
body.page-dashboard .content .tab-pane-ecommerce-dashboard .panel-map .panel-body .table > tbody > tr > td .flag {
  width: 24px;
  height: 16px;
  top: -2px;
  margin-right: 5px;
  background-size: cover;
}
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > thead > tr > th:first-child,
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tbody > tr > td:first-child,
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tfoot > tr > td:first-child {
  /*
			 *	--------------------------------------------------------
			 *	18.	Orders, Products
			 *	--------------------------------------------------------
			*/
  width: 43px;
}
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tfoot {
  display: table-header-group;
}
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tfoot > tr > td {
  /* Styles for for td with form elements */
  vertical-align: top;
}
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tfoot > tr > td .input-group {
  width: 100%;
}
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tfoot > tr > td .input-group + .input-group,
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tfoot > tr > td .form-control + .form-control {
  margin-top: 10px;
}
body.page-dashboard .content .tab-pane-ecommerce-table .table-ecommerce > tfoot > tr > td .select2-container {
  width: 120px !important;
}
