/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Page login 1
 *	--------------------------------------------------------
*/
html,
body {
  min-height: 100%;
}
body {
  background: #FFF;
  background: -moz-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #F9F9F9)) no-repeat;
  background: -webkit-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: -o-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: -ms-linear-gradient(top, #FFF 0%, #F9F9F9 100%) no-repeat;
  background: linear-gradient(to bottom, #FFF 0%, #F9F9F9 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F9F9F9', GradientType=0);
}
/* Forgot password modal */
.modal-dialog {
  max-width: 360px;
}
@media (max-width: 767px) {
  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.modal-dialog .modal-content {
  border: 1px solid #D6D6D6;
  border-radius: 6px;
}
.modal-dialog .modal-content .modal-body {
  padding: 25px 30px 30px;
}
.modal-dialog .modal-content .modal-body h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}
.modal-dialog .modal-content .modal-body form .form-control {
  margin-bottom: 25px;
  border-radius: 4px;
  box-shadow: inset 0px 1px 2px 0px #E2E2E2;
  -webkit-box-shadow: inset 0px 1px 2px 0px #E2E2E2;
}
.modal-dialog .modal-content .modal-body form .form-control::-moz-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .form-control:-ms-input-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .form-control::-webkit-input-placeholder {
  color: #999;
}
.modal-dialog .modal-content .modal-body form .btn-wrapper span {
  display: table-cell;
  width: 1%;
}
.modal-dialog .modal-content .modal-body form .btn-wrapper span:first-child {
  padding-right: 5px;
}
.login-wrapper {
  max-width: 360px;
  margin: 80px auto;
}
.login-wrapper .panel {
  margin-top: 25px;
  border-color: #e2e2e2;
  border-radius: 6px;
}
.login-wrapper .panel-body {
  padding: 25px 30px 40px;
}
.login-wrapper .panel-body h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}
.login-wrapper .panel-body form .form-control {
  box-shadow: inset 0px 1px 2px 0px #EFEFEF;
  -webkit-box-shadow: inset 0px 1px 2px 0px #EFEFEF;
}
.login-wrapper .panel-body form .btn {
  margin-top: 15px;
  font-weight: 600;
}
.login-wrapper .panel-body .btn-group.divided {
  margin-top: 40px;
}
.login-wrapper .panel-body .btn-group.divided .btn {
  font-weight: 600;
  color: #fff;
  border: none;
}
@media (max-width: 480px) {
  .login-wrapper .panel-body .btn-group.divided .btn {
    font-size: 11px;
  }
  .login-wrapper .panel-body .btn-group.divided .btn:first-child {
    padding-right: 22px;
  }
  .login-wrapper .panel-body .btn-group.divided .btn:last-child {
    padding-left: 22px;
  }
}
.login-wrapper .panel-body .btn-group.divided .btn:first-child {
  background-color: #3B579D;
}
.login-wrapper .panel-body .btn-group.divided .btn:last-child {
  background-color: #2CAAE1;
}
.login-wrapper .panel-body .btn-group.divided .btn .fa {
  padding-left: 5px;
  font-size: 14px;
}
.login-wrapper .panel-body .btn-group.divided .divider {
  width: 22px;
  height: 22px;
  font-weight: 400;
  line-height: 19px;
}
@media (max-width: 480px) {
  .login-wrapper .panel-body .btn-group.divided .divider {
    width: 20px;
    height: 20px;
    line-height: 17px;
  }
}
.login-wrapper .panel-footer {
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #FFF;
  background: -moz-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #F4F4F4)) no-repeat;
  background: -webkit-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: -o-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: -ms-linear-gradient(top, #FFF 0%, #F4F4F4 100%) no-repeat;
  background: linear-gradient(to bottom, #FFF 0%, #F4F4F4 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#F4F4F4', GradientType=0);
}
.login-wrapper .panel-footer a {
  color: #4cd0f4;
}
