/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Body
 *	2.	Content / .content
 *	3.	Navbar / .navbar-top
 *	4.	Sidebar / .sidebar
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
/*	
 *	--------------------------------------------------------
 *	1.	Body
 *	--------------------------------------------------------
*/
body {
  background-color: #354758;
}
body.bg-grey .content {
  background-color: #f5f5f6;
}
body.page-boxed {
  /* Boxed page */
  background-image: url("../img/boxed-bg-default.png");
}
body.page-boxed .content-wrapper {
  background-color: #354758;
}
@media (min-width: 992px) {
  body.page-boxed .content-wrapper .sidebar {
    border-left-color: #3d4f61;
  }
}
/*	
 *	--------------------------------------------------------
 *	2.	Content / .content
 *	--------------------------------------------------------
*/
.content {
  background-color: #fff;
}
.content .breadcrumb-wrapper {
  border-bottom-color: #eaeded;
  background-color: #fcfcfc;
}
/*	
 *	--------------------------------------------------------
 *	3.	Navbar / .navbar-top
 *	--------------------------------------------------------
*/
.navbar-top {
  background-color: #303f4e;
}
.navbar-top .navbar-header .sidebar-toggle {
  border-color: #5f6f7e;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.navbar-top .navbar-header .sidebar-toggle .icon-bar {
  background-color: #5f6f7e;
}
.navbar-top .navbar-form .form-control {
  color: #8a99a8;
  border-color: #2d3b4a transparent #2d3b4a #2d3b4a;
  background-color: #3f4f60;
}
.navbar-top .navbar-form .form-control::-moz-placeholder {
  color: #8a99a8;
}
.navbar-top .navbar-form .form-control:-ms-input-placeholder {
  color: #8a99a8;
}
.navbar-top .navbar-form .form-control::-webkit-input-placeholder {
  color: #8a99a8;
}
@media (min-width: 768px) {
  .navbar-top .navbar-form .form-control:focus,
  .navbar-top .navbar-form .form-control:focus + .input-group-btn > .btn {
    color: #96a3b1;
    background-color: #47596c;
  }
}
.navbar-top .navbar-form .input-group-btn > .btn {
  color: #8a99a8;
  border-color: #2d3b4a;
  background-color: #3f4f60;
}
@media (max-width: 767px) {
  .navbar-top .navbar-form .input-group-btn > .btn {
    border-color: #5f6f7e;
    background-color: transparent;
  }
}
.navbar-top .navbar-nav > li > a {
  color: #cbd4dd;
}
.navbar-top .navbar-nav > li > a .fa {
  color: #59728b;
}
.navbar-top .navbar-nav > li > a .label {
  color: #fff;
  background-color: #fd6969;
}
.navbar-top .navbar-nav > li > a img {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.4);
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus {
  color: #dae1e7;
  background-color: #3C5368;
}
.navbar-top .navbar-nav > li > a:hover .fa,
.navbar-top .navbar-nav > li > a:focus .fa {
  color: #8298af;
}
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > .open > a:focus {
  color: #dae1e7;
  background-color: #3C5368;
}
.navbar-top .navbar-nav > .open > a .fa,
.navbar-top .navbar-nav > .open > a:hover .fa,
.navbar-top .navbar-nav > .open > a:focus .fa {
  color: #8298af;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a {
  color: #596465;
  border-bottom-color: #e9e9e9;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:hover,
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:focus {
  background-color: #f8f9f9;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-notifications .media-body i {
  color: #999;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media {
  border-bottom-color: #f2f4f4;
}
.navbar-top .navbar-nav .dropdown-menu-profile .divider {
  background-color: #f2f4f4;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller {
  color: #cbd4dd;
  background-color: #2a3743;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > li > a {
  color: #7b8997;
  border-color: #344250;
  background-color: #283541;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:focus {
  background-color: #303e4c;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a {
  color: #cbd4dd;
  border-bottom-color: #324251;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:focus,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:focus {
  background-color: #324251;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .media-right,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a .media-right {
  color: #7b8997;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .text-highlight {
  color: #4cd3e3;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .text-ellipsis {
  color: #97a9bb;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li {
  border-bottom-color: #324251;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li:hover {
  background-color: #324251;
}
.navbar-top .navbar-h > li > a {
  color: #AEB9C4;
}
.navbar-top .navbar-h > li > a:hover,
.navbar-top .navbar-h > li > a:focus {
  color: #AEB9C4;
  background-color: #3B4B5C;
}
.navbar-top .navbar-h > .active > a,
.navbar-top .navbar-h > .open > a,
.navbar-top .navbar-h > .active > a:hover,
.navbar-top .navbar-h > .open > a:hover,
.navbar-top .navbar-h > .active > a:focus,
.navbar-top .navbar-h > .open > a:focus {
  color: #AEB9C4;
  background-color: #3B4B5C;
}
.navbar-top .navbar-h .dropdown-menu .dropdown-header {
  color: #8B9AA8;
  background-color: transparent;
}
.navbar-top .navbar-h .dropdown-menu li > a {
  color: #526272;
}
.navbar-top .navbar-h .dropdown-menu li > a:hover {
  background-color: #f9f9f9;
}
.navbar-top .navbar-h .dropdown-lg .dropdown-menu .dropdown-menu-item + .dropdown-menu-item {
  border-left-color: #EFF1F3;
}
/*	
 *	--------------------------------------------------------
 *	4.	Sidebar / .sidebar
 *	--------------------------------------------------------
*/
.sidebar .sidebar-nav > .title {
  color: #768899;
}
.sidebar .sidebar-nav > li > a {
  color: #aeb9c4;
  border-bottom-color: #3d4f61;
}
.sidebar .sidebar-nav > li > a .fa {
  color: #768899;
}
.sidebar .sidebar-nav > li > a:hover,
.sidebar .sidebar-nav > li > a:focus {
  background-color: #324353;
}
.sidebar .sidebar-nav .dropdown > a:after {
  color: #768899;
}
.sidebar .sidebar-nav > .active > a,
.sidebar .sidebar-nav > .active > a:hover,
.sidebar .sidebar-nav > .active > a:focus {
  /* Active link item */
  color: #fff;
  background-color: #2eb7ac;
}
.sidebar .sidebar-nav > .active > a .fa,
.sidebar .sidebar-nav > .active > a:after {
  color: inherit;
}
.sidebar .sidebar-nav .inner-nav > li > a {
  color: #aeb9c4;
}
.sidebar .sidebar-nav .inner-nav > li > a:hover,
.sidebar .sidebar-nav .inner-nav > li > a:focus {
  background-color: #3d4f61;
}
.sidebar .sidebar-nav .inner-nav > .active > a,
.sidebar .sidebar-nav .inner-nav > .active > a:hover,
.sidebar .sidebar-nav .inner-nav > .active > a:focus {
  /* Active link item */
  background-color: #3d4f61;
}
.sidebar-nav-h .dropdown-header {
  color: #768899;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a {
  color: #aeb9c4;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:hover,
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:focus {
  background-color: #324353;
}
.sidebar-fixed .sidebar-fixed-scroller {
  /* Safari */
  background-color: #354758;
}
.sidebar .sidebar-search form .form-control {
  color: #8A99A8;
  border-color: #344555 transparent #344555 #344555;
  background-color: #3D5265;
}
.sidebar .sidebar-search form .form-control::-moz-placeholder {
  color: #8A99A8;
}
.sidebar .sidebar-search form .form-control:-ms-input-placeholder {
  color: #8A99A8;
}
.sidebar .sidebar-search form .form-control::-webkit-input-placeholder {
  color: #8A99A8;
}
.sidebar .sidebar-search form .form-control:focus,
.sidebar .sidebar-search form .form-control:focus + .input-group-btn > .btn {
  color: #909eac;
  background-color: #41576b;
}
.sidebar .sidebar-search form .input-group-btn > .btn {
  color: #8A99A8;
  border-color: #344555;
  background-color: #3D5265;
}
body.has-sidebar-sm .sidebar .sidebar-search a {
  color: #768899;
  border-bottom-color: #3d4f61;
}
body.has-sidebar-sm .sidebar .sidebar-search a:hover,
body.has-sidebar-sm .sidebar .sidebar-search a:focus {
  background-color: #324353;
}
body.has-sidebar-sm .sidebar .sidebar-search.open > a {
  background-color: #324353;
}
body.has-sidebar-sm .sidebar .sidebar-search form {
  border-left-color: #3d4f61;
  background-color: #354758;
}
@media (min-width: 992px) {
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown:hover > .inner-nav {
    border-left-color: #3d4f61;
    background-color: #354758;
  }
}
@media (min-width: 992px) {
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav {
    border-left-color: #3d4f61;
    background-color: #354758;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav > li > a {
    border-top-color: #3d4f61;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .active > a > span {
    color: #aeb9c4;
  }
}
/*	
 *	--------------------------------------------------------
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
.footer {
  color: #aeb9c4;
  background-color: #303f4e;
}
