/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Body
 *	2.	Content / .content
 *	3.	Navbar / .navbar-top
 *	4.	Sidebar / .sidebar
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
/*	
 *	--------------------------------------------------------
 *	1.	Body
 *	--------------------------------------------------------
*/
body {
  background-color: #6e757f;
}
body.bg-grey .content {
  background-color: #f5f5f6;
}
body.page-boxed {
  /* Boxed page */
  background-image: url("../img/boxed-bg-grey.png");
}
body.page-boxed .content-wrapper {
  background-color: #6e757f;
}
@media (min-width: 992px) {
  body.page-boxed .content-wrapper .sidebar {
    border-left-color: #656b74;
  }
}
/*	
 *	--------------------------------------------------------
 *	2.	Content / .content
 *	--------------------------------------------------------
*/
.content {
  background-color: #fff;
}
.content .breadcrumb-wrapper {
  border-bottom-color: #eaeded;
  background-color: #fcfcfc;
}
/*	
 *	--------------------------------------------------------
 *	3.	Navbar / .navbar-top
 *	--------------------------------------------------------
*/
.navbar-top {
  background-color: #525963;
}
.navbar-top .navbar-header .sidebar-toggle {
  border-color: #737b85;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.navbar-top .navbar-header .sidebar-toggle .icon-bar {
  background-color: #737b85;
}
.navbar-top .navbar-form .form-control {
  color: #dcdcdc;
  border-color: #6e757f transparent #6e757f #6e757f;
  background-color: #5c626c;
}
.navbar-top .navbar-form .form-control::-moz-placeholder {
  color: #dcdcdc;
}
.navbar-top .navbar-form .form-control:-ms-input-placeholder {
  color: #dcdcdc;
}
.navbar-top .navbar-form .form-control::-webkit-input-placeholder {
  color: #dcdcdc;
}
@media (min-width: 768px) {
  .navbar-top .navbar-form .form-control:focus,
  .navbar-top .navbar-form .form-control:focus + .input-group-btn > .btn {
    color: #e6e6e6;
    background-color: #656c77;
  }
}
.navbar-top .navbar-form .input-group-btn > .btn {
  color: #dcdcdc;
  border-color: #6e757f;
  background-color: #5c626c;
}
@media (max-width: 767px) {
  .navbar-top .navbar-form .input-group-btn > .btn {
    border-color: #737b85;
    background-color: transparent;
  }
}
.navbar-top .navbar-nav > li > a {
  color: #dcdcdc;
}
.navbar-top .navbar-nav > li > a .fa {
  color: #878f9a;
}
.navbar-top .navbar-nav > li > a .label {
  color: #fff;
  background-color: #4cd3e3;
}
.navbar-top .navbar-nav > li > a img {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.4);
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus {
  color: #e9e9e9;
  background-color: #5d6570;
}
.navbar-top .navbar-nav > li > a:hover .fa,
.navbar-top .navbar-nav > li > a:focus .fa {
  color: #b1b6bd;
}
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > .open > a:focus {
  color: #e9e9e9;
  background-color: #5d6570;
}
.navbar-top .navbar-nav > .open > a .fa,
.navbar-top .navbar-nav > .open > a:hover .fa,
.navbar-top .navbar-nav > .open > a:focus .fa {
  color: #b1b6bd;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a {
  color: #596465;
  border-bottom-color: #e9e9e9;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:hover,
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:focus {
  background-color: #f8f9f9;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-notifications .media-body i {
  color: #999;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media {
  border-bottom-color: #f2f4f4;
}
.navbar-top .navbar-nav .dropdown-menu-profile .divider {
  background-color: #f2f4f4;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller {
  color: #fff;
  background-color: #4d525b;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > li > a {
  color: #fff;
  border-color: #565c65;
  background-color: #444951;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:focus {
  background-color: #4e545d;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a {
  color: #fff;
  border-bottom-color: #606671;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:focus,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:focus {
  background-color: #59606b;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .media-right,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a .media-right {
  color: #aaa;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .text-highlight {
  color: #4cd3e3;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .text-ellipsis {
  color: #d4d4d4;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li {
  border-bottom-color: #606671;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li:hover {
  background-color: #59606b;
}
.navbar-top .navbar-h > li > a {
  color: #dcdcdc;
}
.navbar-top .navbar-h > li > a:hover,
.navbar-top .navbar-h > li > a:focus {
  color: #dcdcdc;
  background-color: #5d6570;
}
.navbar-top .navbar-h > .active > a,
.navbar-top .navbar-h > .open > a,
.navbar-top .navbar-h > .active > a:hover,
.navbar-top .navbar-h > .open > a:hover,
.navbar-top .navbar-h > .active > a:focus,
.navbar-top .navbar-h > .open > a:focus {
  color: #dcdcdc;
  background-color: #5d6570;
}
.navbar-top .navbar-h .dropdown-menu .dropdown-header {
  color: #8B9AA8;
  background-color: transparent;
}
.navbar-top .navbar-h .dropdown-menu li > a {
  color: #526272;
}
.navbar-top .navbar-h .dropdown-menu li > a:hover {
  background-color: #f9f9f9;
}
.navbar-top .navbar-h .dropdown-lg .dropdown-menu .dropdown-menu-item + .dropdown-menu-item {
  border-left-color: #EFF1F3;
}
/*	
 *	--------------------------------------------------------
 *	4.	Sidebar / .sidebar
 *	--------------------------------------------------------
*/
.sidebar .sidebar-nav > .title {
  color: #dcdcdc;
}
.sidebar .sidebar-nav > li > a {
  color: #efefef;
  border-bottom-color: #656b74;
}
.sidebar .sidebar-nav > li > a .fa {
  color: #ccc;
}
.sidebar .sidebar-nav > li > a:hover,
.sidebar .sidebar-nav > li > a:focus {
  background-color: #656b74;
}
.sidebar .sidebar-nav .dropdown > a:after {
  color: #ccc;
}
.sidebar .sidebar-nav > .active > a,
.sidebar .sidebar-nav > .active > a:hover,
.sidebar .sidebar-nav > .active > a:focus {
  /* Active link item */
  color: #ececec;
  background-color: #5b6169;
}
.sidebar .sidebar-nav > .active > a .fa,
.sidebar .sidebar-nav > .active > a:after {
  color: inherit;
}
.sidebar .sidebar-nav .inner-nav > li > a {
  color: #efefef;
}
.sidebar .sidebar-nav .inner-nav > li > a:hover,
.sidebar .sidebar-nav .inner-nav > li > a:focus {
  background-color: #656b74;
}
.sidebar .sidebar-nav .inner-nav > .active > a,
.sidebar .sidebar-nav .inner-nav > .active > a:hover,
.sidebar .sidebar-nav .inner-nav > .active > a:focus {
  /* Active link item */
  background-color: #656b74;
}
.sidebar-nav-h .dropdown-header {
  color: #dcdcdc;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a {
  color: #efefef;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:hover,
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:focus {
  background-color: #656b74;
}
.sidebar-fixed .sidebar-fixed-scroller {
  /* Safari */
  background-color: #6e757f;
}
.sidebar .sidebar-search form .form-control {
  color: #dcdcdc;
  border-color: #686e78 transparent #686e78 #686e78;
  background-color: #79818c;
}
.sidebar .sidebar-search form .form-control::-moz-placeholder {
  color: #dcdcdc;
}
.sidebar .sidebar-search form .form-control:-ms-input-placeholder {
  color: #dcdcdc;
}
.sidebar .sidebar-search form .form-control::-webkit-input-placeholder {
  color: #dcdcdc;
}
.sidebar .sidebar-search form .form-control:focus,
.sidebar .sidebar-search form .form-control:focus + .input-group-btn > .btn {
  color: #e1e1e1;
  background-color: #7e8691;
}
.sidebar .sidebar-search form .input-group-btn > .btn {
  color: #dcdcdc;
  border-color: #686e78;
  background-color: #79818c;
}
body.has-sidebar-sm .sidebar .sidebar-search a {
  color: #ccc;
  border-bottom-color: #656b74;
}
body.has-sidebar-sm .sidebar .sidebar-search a:hover,
body.has-sidebar-sm .sidebar .sidebar-search a:focus {
  background-color: #656b74;
}
body.has-sidebar-sm .sidebar .sidebar-search.open > a {
  background-color: #656b74;
}
body.has-sidebar-sm .sidebar .sidebar-search form {
  border-left-color: #656b74;
  background-color: #6e757f;
}
@media (min-width: 992px) {
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown:hover > .inner-nav {
    border-left-color: #656b74;
    background-color: #6e757f;
  }
}
@media (min-width: 992px) {
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav {
    border-left-color: #656b74;
    background-color: #6e757f;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav > li > a {
    border-top-color: #656b74;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .active > a > span {
    color: #efefef;
  }
}
/*	
 *	--------------------------------------------------------
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
.footer {
  color: #dcdcdc;
  background-color: #525963;
}
