/*										[Table Of Contents]
 *	--------------------------------------------------------
 *	1.	Body
 *	2.	Content / .content
 *	3.	Navbar / .navbar-top
 *	4.	Sidebar / .sidebar
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
/*	
 *	--------------------------------------------------------
 *	1.	Body
 *	--------------------------------------------------------
*/
body {
  background-color: #333;
}
body.bg-grey .content {
  background-color: #f5f5f6;
}
body.page-boxed {
  /* Boxed page */
  background-image: url("../img/boxed-bg-black.png");
}
body.page-boxed .content-wrapper {
  background-color: #333;
}
@media (min-width: 992px) {
  body.page-boxed .content-wrapper .sidebar {
    border-left-color: #3c3c3c;
  }
}
/*	
 *	--------------------------------------------------------
 *	2.	Content / .content
 *	--------------------------------------------------------
*/
.content {
  background-color: #fff;
}
.content .breadcrumb-wrapper {
  border-bottom-color: #eaeded;
  background-color: #fcfcfc;
}
/*	
 *	--------------------------------------------------------
 *	3.	Navbar / .navbar-top
 *	--------------------------------------------------------
*/
.navbar-top {
  background-color: #2d2d2d;
}
.navbar-top .navbar-header .sidebar-toggle {
  border-color: #5d5d5d;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.navbar-top .navbar-header .sidebar-toggle .icon-bar {
  background-color: #5d5d5d;
}
.navbar-top .navbar-form .form-control {
  color: #d1cfcf;
  border-color: #272727 transparent #272727 #272727;
  background-color: #4d4d4d;
}
.navbar-top .navbar-form .form-control::-moz-placeholder {
  color: #d1cfcf;
}
.navbar-top .navbar-form .form-control:-ms-input-placeholder {
  color: #d1cfcf;
}
.navbar-top .navbar-form .form-control::-webkit-input-placeholder {
  color: #d1cfcf;
}
@media (min-width: 768px) {
  .navbar-top .navbar-form .form-control:focus,
  .navbar-top .navbar-form .form-control:focus + .input-group-btn > .btn {
    color: #dbd9d9;
    background-color: #575757;
  }
}
.navbar-top .navbar-form .input-group-btn > .btn {
  color: #d1cfcf;
  border-color: #272727;
  background-color: #4d4d4d;
}
@media (max-width: 767px) {
  .navbar-top .navbar-form .input-group-btn > .btn {
    border-color: #5d5d5d;
    background-color: transparent;
  }
}
.navbar-top .navbar-nav > li > a {
  color: #b1b1b1;
}
.navbar-top .navbar-nav > li > a .fa {
  color: #5d5d5d;
}
.navbar-top .navbar-nav > li > a .label {
  color: #fff;
  background-color: #fd6969;
}
.navbar-top .navbar-nav > li > a img {
  box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.4);
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > li > a:focus {
  color: #bebebe;
  background-color: #3c3c3c;
}
.navbar-top .navbar-nav > li > a:hover .fa,
.navbar-top .navbar-nav > li > a:focus .fa {
  color: #838383;
}
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > .open > a:focus {
  color: #bebebe;
  background-color: #3c3c3c;
}
.navbar-top .navbar-nav > .open > a .fa,
.navbar-top .navbar-nav > .open > a:hover .fa,
.navbar-top .navbar-nav > .open > a:focus .fa {
  color: #838383;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a {
  color: #596465;
  border-bottom-color: #e9e9e9;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:hover,
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-content > li > a:focus {
  background-color: #f8f9f9;
}
.navbar-top .navbar-nav .dropdown-menu .list-dropdown-notifications .media-body i {
  color: #999;
}
.navbar-top .navbar-nav .dropdown-menu-profile .media {
  border-bottom-color: #f2f4f4;
}
.navbar-top .navbar-nav .dropdown-menu-profile .divider {
  background-color: #f2f4f4;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller {
  color: #eaeaea;
  background-color: #282828;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > li > a {
  color: #eaeaea;
  border-color: #3f3f3f;
  background-color: #252525;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .nav-tabs > .active > a:focus {
  background-color: #343434;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a {
  color: #eaeaea;
  border-bottom-color: #434343;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:hover,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a:focus,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a:focus {
  background-color: #303030;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .media-right,
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .list-sidebar-extra > li > a .media-right {
  color: #707070;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-timeline .list-sidebar-extra > li > a .text-highlight {
  color: #4cd3e3;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-mail .text-ellipsis {
  color: #bfbfbf;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li {
  border-bottom-color: #434343;
}
.navbar-top .navbar-nav .sidebar-extra .sidebar-extra-scroller .sidebar-settings .list-sidebar-extra > li:hover {
  background-color: #303030;
}
.navbar-top .navbar-h > li > a {
  color: #b1b1b1;
}
.navbar-top .navbar-h > li > a:hover,
.navbar-top .navbar-h > li > a:focus {
  color: #b1b1b1;
  background-color: #3c3c3c;
}
.navbar-top .navbar-h > .active > a,
.navbar-top .navbar-h > .open > a,
.navbar-top .navbar-h > .active > a:hover,
.navbar-top .navbar-h > .open > a:hover,
.navbar-top .navbar-h > .active > a:focus,
.navbar-top .navbar-h > .open > a:focus {
  color: #b1b1b1;
  background-color: #3c3c3c;
}
.navbar-top .navbar-h .dropdown-menu .dropdown-header {
  color: #8B9AA8;
  background-color: transparent;
}
.navbar-top .navbar-h .dropdown-menu li > a {
  color: #526272;
}
.navbar-top .navbar-h .dropdown-menu li > a:hover {
  background-color: #f9f9f9;
}
.navbar-top .navbar-h .dropdown-lg .dropdown-menu .dropdown-menu-item + .dropdown-menu-item {
  border-left-color: #EFF1F3;
}
/*	
 *	--------------------------------------------------------
 *	4.	Sidebar / .sidebar
 *	--------------------------------------------------------
*/
.sidebar .sidebar-nav > .title {
  color: #d1cfcf;
}
.sidebar .sidebar-nav > li > a {
  color: #d1cfcf;
  border-bottom-color: #3c3c3c;
}
.sidebar .sidebar-nav > li > a .fa {
  color: #b1b1b1;
}
.sidebar .sidebar-nav > li > a:hover,
.sidebar .sidebar-nav > li > a:focus {
  background-color: #3c3c3c;
}
.sidebar .sidebar-nav .dropdown > a:after {
  color: #b1b1b1;
}
.sidebar .sidebar-nav > .active > a,
.sidebar .sidebar-nav > .active > a:hover,
.sidebar .sidebar-nav > .active > a:focus {
  /* Active link item */
  color: #d1cfcf;
  background-color: #4e4d4d;
}
.sidebar .sidebar-nav > .active > a .fa,
.sidebar .sidebar-nav > .active > a:after {
  color: inherit;
}
.sidebar .sidebar-nav .inner-nav > li > a {
  color: #d1cfcf;
}
.sidebar .sidebar-nav .inner-nav > li > a:hover,
.sidebar .sidebar-nav .inner-nav > li > a:focus {
  background-color: #3c3c3c;
}
.sidebar .sidebar-nav .inner-nav > .active > a,
.sidebar .sidebar-nav .inner-nav > .active > a:hover,
.sidebar .sidebar-nav .inner-nav > .active > a:focus {
  /* Active link item */
  background-color: #3c3c3c;
}
.sidebar-nav-h .dropdown-header {
  color: #d1cfcf;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a {
  color: #d1cfcf;
}
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:hover,
.sidebar-nav-h .dropdown-lg .dropdown-menu-item > li > a:focus {
  background-color: #3c3c3c;
}
.sidebar-fixed .sidebar-fixed-scroller {
  /* Safari */
  background-color: #333;
}
.sidebar .sidebar-search form .form-control {
  color: #b1b1b1;
  border-color: #2f2f2f transparent #2f2f2f #2f2f2f;
  background-color: #444;
}
.sidebar .sidebar-search form .form-control::-moz-placeholder {
  color: #b1b1b1;
}
.sidebar .sidebar-search form .form-control:-ms-input-placeholder {
  color: #b1b1b1;
}
.sidebar .sidebar-search form .form-control::-webkit-input-placeholder {
  color: #b1b1b1;
}
.sidebar .sidebar-search form .form-control:focus,
.sidebar .sidebar-search form .form-control:focus + .input-group-btn > .btn {
  color: #b6b6b6;
  background-color: #494949;
}
.sidebar .sidebar-search form .input-group-btn > .btn {
  color: #b1b1b1;
  border-color: #2f2f2f;
  background-color: #444;
}
body.has-sidebar-sm .sidebar .sidebar-search a {
  color: #b1b1b1;
  border-bottom-color: #3c3c3c;
}
body.has-sidebar-sm .sidebar .sidebar-search a:hover,
body.has-sidebar-sm .sidebar .sidebar-search a:focus {
  background-color: #3c3c3c;
}
body.has-sidebar-sm .sidebar .sidebar-search.open > a {
  background-color: #3c3c3c;
}
body.has-sidebar-sm .sidebar .sidebar-search form {
  border-left-color: #3c3c3c;
  background-color: #333;
}
@media (min-width: 992px) {
  body:not(.has-sidebar-sm) .sidebar.sidebar-hover .sidebar-nav > .dropdown:hover > .inner-nav {
    border-left-color: #3c3c3c;
    background-color: #333;
  }
}
@media (min-width: 992px) {
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav {
    border-left-color: #3c3c3c;
    background-color: #333;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .dropdown > .inner-nav > li > a {
    border-top-color: #3c3c3c;
  }
  body.has-sidebar-sm .sidebar .sidebar-nav > .active > a > span {
    color: #d1cfcf;
  }
}
/*	
 *	--------------------------------------------------------
 *	5.	Footer / .footer
 *	--------------------------------------------------------
*/
.footer {
  color: #b1b1b1;
  background-color: #2d2d2d;
}
